global-reset()

html, body
  height 100%
  line-height 1.5
  font-size 12px
  font-weight 300
  font-family 'Asap', -apple-system, Sans-Serif
  -webkit-font-smoothing antialiased
  -webkit-tap-highlight-color transparent
