@require '../../utils/Stylus/Variables.styl'

#root
  display block
  padding $gutter * 2

  h1
    margin-top $gutter * 4
    margin-bottom $gutter * 1.5
    padding-bottom $gutter * 0.5
    font-size 1.75rem
    font-weight bold
    border-bottom 1px solid $color-border

  h2
    margin-top $gutter * 2
    margin-bottom $gutter * 1
    font-size 1.25rem
    font-weight bold
